{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      Instansi
      <a href="/master-instansi/rpl/tambah/" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah</a>
      <a href="{% url 'export_instansi_rpl' %}" class="btn btn-success"><i class="fa fa-download"></i> XLS</a>
      <a href="/master-instansi/rpl/cetak/" class="btn btn-warning"><i class="fa fa-print"></i> Cetak</a>
    </h2>
    {% if msg %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-hover table-striped" id="dataTables">
        <thead>
          <tr>
            <th>NO.</th>
            <th>NAMA INSTANSI</th>
            <th>ALAMAT</th>
            <th>AKSI</th>
          </tr>
        </thead>
        <tbody>
          {% for instansi in master %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td><a href="/master-instansi/rpl/ubah/{{ instansi.id }}">{{ instansi.nama }}</a></td>
              <td>{{ instansi.alamat }}</td>
              <td>
                <a href="https://www.google.com/maps/search/?api=1&query={{ instansi.alamat }}" class="btn btn-info" target="_blank"><i class="fa fa-map-marker"></i> Peta</a>
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#id-{{ instansi.id }}"><i class="fa fa-trash-o"></i> Hapus</a>
              </td>
            </tr>
            <div class="modal fade" id="id-{{ instansi.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/master-instansi/rpl/hapus/{{ instansi.id }}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                      Hapus instansi ini: <strong>{{ instansi.nama }}</strong>?
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">Ya, hapus</button>
                      <button type="button" data-dismiss="modal" class="btn btn-warning">Enggak</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
