{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h3 class="page-header">Ubah Data Siswa: {{ siswa.nama }}</h3>
    <form action="/master-tkj-3/ubah/{{ siswa.id }}" method="post">
      {% csrf_token %}

      {% if msg %}
        <div class="alert alert-success">{{ msg }}</div>
      {% endif %}
      <div class="form-group">
        <label for="{{ siswa.NIS }}">NIS</label>
        <input type="text" class="form-control" value="{{ siswa.NIS }}" readonly>
      </div>
      <div class="form-group">
        <label for="{{ siswa.nama }}">NAMA</label>
        <input type="text" class="form-control" name="nama" value="{{ siswa.nama }}" id="{{ siswa.nama }}" required autofocus>
      </div>
      <div class="form-group">
        <label for="{{ siswa.kelas }}">KELAS</label>
        <select class="form-control selectpicker" data-live-search="true" name="kelas" required>
          <option value="{{ siswa.kelas }}">{{ siswa.kelas }}</option>
          <option disabled>__________</option>
          <option value="XII.TKJ-1">XII.TKJ-1</option>
          <option value="XII.TKJ-2">XII.TKJ-2</option>
          <option value="XII.TKJ-3">XII.TKJ-3</option>
          <option value="XII.TKJ-4">XII.TKJ-4</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Simpan</button>
        <a href="/master-tkj-3/" class="btn btn-danger btn-lg">Kembali</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
