{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Name Tag</h2>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default martop-content">
      <div class="panel-heading">
        <h4>TKJ <a href="/name-tag/tkj/" class="btn btn-primary"><i class="fa fa-print"></i> Cetak</a></h4>
      </div>
      <div class="panel-body">
        <img src="/static/img/THIS.TKJ.png" class="name-tag-list">
        <table class="table table-striped table-hover">
          <tr>
            <td>XII.TKJ-1</td>
            <td><a href="/name-tag/tkj-1/" class="btn btn-primary">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.TKJ-2 </td>
            <td><a href="/name-tag/tkj-2/" class="btn btn-primary">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.TKJ-3</td>
            <td><a href="/name-tag/tkj-3/" class="btn btn-primary">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.TKJ-4</td>
            <td><a href="/name-tag/tkj-4/" class="btn btn-primary">Cetak</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default martop-content">
      <div class="panel-heading">
        <h4>RPL <a href="/name-tag/rpl/" class="btn btn-success"><i class="fa fa-print"></i> Cetak</a></h4>
      </div>
      <div class="panel-body">
        <img src="/static/img/THIS.RPL.png" class="name-tag-list">
        <table class="table table-striped table-hover">
          <tr>
            <td>XII.RPL-1</td>
            <td><a href="/name-tag/rpl-1/" class="btn btn-success">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.RPL-2 </td>
            <td><a href="/name-tag/rpl-2/" class="btn btn-success">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.RPL-3</td>
            <td><a href="/name-tag/rpl-3/" class="btn btn-success">Cetak</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default martop-content">
      <div class="panel-heading">
        <h4>TBSM <a href="/name-tag/tbsm/" class="btn btn-danger"><i class="fa fa-print"></i> Cetak</a></h4>
      </div>
      <div class="panel-body">
        <img src="/static/img/THIS.TBSM.png" class="name-tag-list">
        <table class="table table-striped table-hover">
          <tr>
            <td>XII.TBSM-1</td>
            <td><a href="/name-tag/tbsm-1/" class="btn btn-danger">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.TBSM-2 </td>
            <td><a href="/name-tag/tbsm-2/" class="btn btn-danger">Cetak</a></td>
          </tr>
          <tr>
            <td>XII.TBSM-3</td>
            <td><a href="/name-tag/tbsm-3/" class="btn btn-danger">Cetak</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
