<head>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-PKL 2K18</title>

    <!-- VENDOR -->
    <link href="/static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/vendor/css/sb-admin.css" rel="stylesheet">
    <link href="/static/vendor/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/vendor/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/bs-select/dist/css/bootstrap-select.min.css" media="all">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!-- Own style :D -->
    <link rel="stylesheet" href="/static/assets/css/pkl-style.css">
</head>
