
<script src="/static/vendor/js/jquery-1.10.2.js"></script>
<script src="/static/vendor/js/bootstrap.min.js"></script>
<script src="/static/vendor/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/vendor/js/sb-admin.js"></script>

<script src="/static/vendor/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/vendor/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/vendor/js/plugins/dataTables/dataTables.responsive.js"></script>
<script type="text/javascript" src="/static/vendor/bs-select/dist/js/bootstrap-select.min.js"></script>
<script>
$(document).ready(function() {
  $('#dataTables').DataTable({
      responsive: true
  });
});
</script>
