<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">e-PKL 2K18</a>
    </div>
    <!-- /.navbar-header -->
</nav>
<!-- /.navbar-static-top -->

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog fa-fw"></i> MASTER<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">TKJ<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/master-tkj/tambah">Tambah</a>
                            </li>
                            <li>
                                <a href="/master-tkj/">Semua TKJ</a>
                            </li>
                            <li>
                                <a href="/master-tkj-1/">TKJ-1</a>
                            </li>
                            <li>
                                <a href="/master-tkj-2/">TKJ-2</a>
                            </li>
                            <li>
                                <a href="/master-tkj-3/">TKJ-3</a>
                            </li>
                            <li>
                                <a href="/master-tkj-4/">TKJ-4</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li>
                        <a href="#">RPL<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/master-rpl/tambah">Tambah</a>
                            </li>
                            <li>
                                <a href="/master-rpl/">Semua RPL</a>
                            </li>
                            <li>
                                <a href="/master-rpl-1/">RPL-1</a>
                            </li>
                            <li>
                                <a href="/master-rpl-2/">RPL-2</a>
                            </li>
                            <li>
                                <a href="/master-rpl-3/">RPL-3</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li>
                        <a href="/master-instansi/">INSTANSI</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope fa-fw"></i> SURAT PERMOHONAN<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">TKJ<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/surat-tkj/tambah/">Tambah</a>
                            </li>
                            <li>
                                <a href="/surat-tkj/">Tampilkan Semua</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li>
                        <a href="#">RPL<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/surat-rpl/tambah/">Tambah</a>
                            </li>
                            <li>
                                <a href="/surat-rpl/">Tampilkan Semua</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="/absensi/"><i class="fa fa-file-o fa-fw"></i> ABSENSI</a>
            </li>

            <li>
                <a href="/name-tag/"><i class="fa fa-tag fa-fw"></i> NAME TAG</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> AKUN<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                      <a href="/logout/">Keluar</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->
