{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      Siswa Yang Telah Mendapatkan Tempat PKL - TKJ
      <a href="/surat-tkj/tambah/" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah</a>
      <a href="{% url 'export_pkl_tkj' %}" class="btn btn-success"><i class="fa fa-download"></i> XLS</a>
      <a href="/surat-tkj/cetak/" class="btn btn-warning">Cetak</a>
      <a href="/master-tkj/belum-pkl/" class="btn btn-danger">NOT YET</a>
    </h2>
    {% if msg %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endif %}

    <div class="alert alert-info">
      Klik <strong>NAMA INSTANSI</strong> untuk mencetak surat permohonan.
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped" id="dataTables">
        <thead>
          <tr>
            <th>NO.</th>
            <th>INSTANSI</th>
            <th>NAMA SISWA</th>
            <th>KELAS</th>
            <th>AKSI</th>
          </tr>
        </thead>
        <tbody>
          {% for surat in surats %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td><a href="/surat-tkj/cetak-surat/{{ surat.nama_instansi.id }}" target="_blank">{{ surat.nama_instansi.nama }}</a></td>
              <td>{{ surat.nama_siswa.nama }}</td>
              <td>{{ surat.nama_siswa.kelas }}</td>
              <td>
                <a href="/surat-tkj/ubah/{{ surat.id }}" class="btn btn-success"><i class="fa fa-edit"></i> Sunting</a>
                <a href="https://www.google.com/maps/search/?api=1&query={{ surat.nama_instansi.alamat }}" class="btn btn-info" target="-_blank"><i class="fa fa-map-marker"></i> Peta</a>
                <a href="#" data-toggle="modal" data-target="#id-{{ surat.id }}" class="btn btn-danger"><i class="fa fa-trash-o"></i> Hapus</a>
              </td>
            </tr>
            <div class="modal fade" id="id-{{ surat.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/surat-tkj/hapus/{{ surat.id }}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                      Hapus surat permohonan ke: <strong>{{ surat.nama_instansi.nama }}</strong>?
                    </div>
                    <input type="hidden" name="id_siswa" value="{{ surat.nama_siswa }}">
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">Ya, hapus</button>
                      <button type="button" data-dismiss="modal" class="btn btn-warning">Enggak</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
