{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2 class="page-header">Tambah Surat Permohonan - TKJ</h2>
    <form action="/surat-tkj/tambah/" method="post">
      {% csrf_token %}

      {% if msg %}
        <div class="alert alert-success">{{ msg }}</div>
      {% endif %}
      <div class="form-group">
        <label for="">PILIH SISWA</label>
        <select class="form-control selectpicker" data-live-search="true" name="nama_siswa" required>
          <optgroup label="XII.TKJ-1">
            <option>---</option>
            {% for tkj1 in siswa1 %}
              <option value="{{ tkj1.id }}">{{ forloop.counter }} | {{ tkj1.nama }}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="XII.TKJ-2">
            {% for tkj2 in siswa2 %}
              <option value="{{ tkj2.id }}">{{ forloop.counter }} | {{ tkj2.nama }}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="XII.TKJ-3">
            {% for tkj3 in siswa3 %}
              <option value="{{ tkj3.id }}">{{ forloop.counter }} | {{ tkj3.nama }}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="XII.TKJ-4">
            {% for tkj4 in siswa4 %}
              <option value="{{ tkj4.id }}">{{ forloop.counter }} | {{ tkj4.nama }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label for="">PILIH INSTANSI</label>
        <select class="form-control selectpicker" data-live-search="true" name="nama_instansi" required>
          <option>---</option>
          {% for instansi in instansis %}
            <option value="{{ instansi.id }}">{{ forloop.counter }} | {{ instansi.nama }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Simpan</button>
        <a href="/surat-tkj/" class="btn btn-danger btn-lg">Kembali</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
